body {
	background-color:#acacac;
	color:#000;
	font-family: Arial;
}

header{
	text-align: center;
	border-bottom: 1px #eee solid;
}

.loading {
	background: url(loading.gif) center center;
}

#footer p{
	text-align: center;

}